$background:  #e6ecf0;
$primary:  #4ab3f4;
$tweet-border: #e6ecf0;
$tweet-hover: #f4fafe;
$tweet-border-hover: #93999d;
$text:   #14171a;
$text-faded:  #657786;
$image-border: #9fb7cb;
$text-white:  #fff;
$content-background:  #fff;
$error: #d03323;
